extends ../layout

block content
  h1= title
  p 
    | Are you sure you want to delete 
    em= books.title
    | ?
  form(action="/books/" + books.id + "/delete", method="post")
    a(href="/books/" + books.id) No! Take me back!
    | 
    input(type="submit", value = "Yes, I am")