extends ../layout

block content
  header.header
    .container
      h1= title
      a.button.btn-secondary(href="/books/" + books.id) Take me back! 
  section.section
    .container.mt-10
      p 
        | Are you sure you want to delete 
        em= books.title
        | ?
    .container
      form(action="/books/" + books.id + "/delete", method="post")
        input.error-sec.mt-10(type="submit", value = "Yes, I am")