.group
  label(for='title') Title
  input(name='title', type='text', value=books.title, id='title')
  span.highlight
  span.bar
.group
  label(for='author') Author
  input(name='author', type='text', value=books.author, id='author')
  span.highlight
  span.bar
.group
  label(for='genre') Genre
  input(name='genre', type='text', value=books.genre, id='genre')
  span.highlight
  span.bar
.group
  label(for='year') Year
  input(name='year', type='text', value=books.year, id='year')
  span.highlight
  span.bar
.btn-group
  input(type='submit' value='Submit')